server:
    port: 8761
eureka:
    client:
        registerWithEureka: false
        fetchRegistry: false
    server:
        waitTimeInMsWhenSyncEmpty: 1
    serviceUrl:
        defaultZone: http://localhost:8761/eureka
    dashboard:
        enabled: true
management:
    endpoints:
        web:
            exposure:
                include: busrefresh